.modal-window {
  position: fixed;
  top: 0;
  z-index: 950;

  display: none;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.541);
}

.my-movie {
  position: relative;

  width: 50rem;
  height: 80%;
  margin: 3% auto 0;
  padding-top: 4.375rem;
  padding-right: 5rem;
  overflow-y: scroll;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.9375rem #000000;
}
