body {
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  background-image: url("image/body.jpg");
  background-size: cover;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.main {
  background-image: url("image/background2.jpg");
  background-size: cover;
}

.container {
  height: 90vh;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/*swiper*/
.swiper-container {
  width: 100%;
  height: 600px;
}

/*header*/
.header {
  text-align: center;
}

.header-title {
  font-size: 1.5em;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  letter-spacing: 5px;

  cursor: pointer;
}

/*search*/
.search-line {
  position: relative;

  display: inline-block;
  padding-top: 30px;
}

.search {
  width: 800px;
  height: 40px;
  margin-bottom: 30px;
  padding: 15px 100px 15px 40px;

  font-size: 1.3em;

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  outline: none;

  transition: box-shadow 0.2s linear;
}

.search:hover {
  box-shadow: 0 0 5px 1px #5900ff;
}

.search:focus {
  box-shadow: 0 0 8px 3px #5900ff;
}

.button-clear {
  position: absolute;
  top: 28px;
left: -5px;

  width: 45px;
  height: 45px;

  background-image: url("https://yastatic.net/s3/fiji-static/_/f0vM6kFiHLugimNeqhQEGoZgpUE.svg");
  background-position: center;
  background-size: cover;
  opacity: 0.3;

  transition: opacity 0.2s, transform 0.1s linear;
}

.button-clear:hover {
  opacity: 1;
}

.button-clear:active {
  transform: scale(1.1);
}

.button-search {
  position: absolute;
  top: 35px;
  right: 10px;

  width: 30px;
  height: 30px;

  background-image: url("image/icon/search.png");
  background-position: center;
  background-size: cover;

  transition: transform 0.2s linear;
}

.button-search:hover {
  transform: rotate(20deg);
}

.button-microphone {
  position: absolute;
  top: 35px;
  right: 108px;

  width: 17px;
  height: 31px;

  background-image: url("image/icon/microphone.png");
  background-size: cover;

  transition: transform 0.2s linear;
}

.button-disable-microphone {
  position: absolute;
  top: 35px;
  right: 100px;
  z-index: 1;

  width: 30px;
  height: 30px;

  background-image: url("image/icon/mute-micro.jpg");
  background-size: cover;
  opacity: 0;
}

.button-disable-microphone::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -18px;

  width: 12px;
  height: 12px;

  background-color: red;
  border-radius: 50%;
  cursor: default;

  animation: recording 0.7s linear alternate infinite;
}

@keyframes recording {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button-keyboard {
  position: absolute;
  top: 30px;
  right: 50px;

  width: 45px;
  height: 35px;

  background-image: url("image/icon/keyboard.png");
  background-position: center;
  background-size: cover;
  transition: transform 0.1s linear;
}

.button-keyboard:hover {
transform: scale(1.05);
}

.button-my-movie {
  padding: 8px;
  position: absolute;
  top: 27px;
  right: 50px;
  width: 250px;
  font-size: 1.3em;
  color: rgb(0, 0, 0);
background-color: #ffffff9c;
  border-radius: 20px;
  transition: background 0.1s linear;
}

.button-my-movie:hover {
  background-color: #ffffff;
}

.delimiter {
  position: absolute;
  top: 30px;
  right: 130px;

  display: inline-block;
  height: 40px;

  border: 0.5px solid rgba(116, 116, 116, 0.411);
}

/*slide with movie*/
.search-result {
  text-align: center;
  border-radius: 30px;
  padding: 0px 40px;
  overflow: hidden;
background-color: #ffffff59;
  font-size: 2em;
  color: #000000;
  text-overflow: ellipsis;
}

.search-result-found {
  margin-top: 25px;

  font-size: 1.3em;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
}

.swiper-slide {
  padding: 10px 0 0 0;

  text-align: center;

  background-color: #ffffff;
  background-image: linear-gradient(19deg, #ffffff 0%, #faaca8 33%, #ddd6f3 66%, #ffffff 100%);
  border-radius: 20px;
}

.movie-info {
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 900;

  width: 285px;
  height: 477.89px;

  text-align: left ;

  background-color: rgb(255, 255, 255);
  opacity: 0;

  transition: opacity 0.3s linear;

  pointer-events: none;
}

.movie-info span {
  display: block;
  padding: 10px;

  border-bottom: 1px dotted rgb(185, 185, 185);
}

.movie-info span:last-child {
  border: none;
}

.type-movie {
  position: absolute;
  top: 0;
  right: 0;

  width: 80px;
  height: 33px;
  padding-top: 8px;
  padding-left: 5px;

  font-weight: bold;
  color: #ffffff;

  background-color: rgb(93, 131, 255);
}

.type-movie::after {
  content: "";
  position: absolute;
  right: 5px;
  z-index: 999;

  width: 20px;
  height: 20px;

  background-image: url("image/icon/movie.png");
  background-size: cover;
}

.rate,
.run-time {
  font-weight: bold;
  color: #000000;
}

.movie-info b {
  color: rgb(219, 117, 0);
}

.movie-info a {
  display: block;
  min-height: 42px;
  margin: 10px auto 10px;
  padding-right: 90px;
  padding-bottom: 5px;

  font-weight: bold;
  text-align: center;
  color: #0b70b4;
  text-decoration: none;

  border-bottom: 1px solid rgb(185, 185, 185);

  transition: color 0.2s linear;
}

.movie-info a:hover {
  color: #0f00e2;
}

.movie-info-button {
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 2;

  width: 40px;
  height: 40px;

  background-image: url("image/icon/info.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;

  transition: opacity 0.2s, transform 0.2s, background 0.2s linear;
}

.movie-info-button:hover {
  background-color: rgb(255, 145, 0);
  transform: scale(1.08);
  opacity: 1;
}

.movie-title {
  display: block;
  min-height: 35px;
  padding-right: 40px;

  font-weight: bold;
  font-size: 0.8em;
  color: black;

  cursor: pointer;
}

.movie-image {
  display: block;
  width: 100%;
  height: 81%;
  margin: 10px 0;

  background-image: url("image/no-image.jpg");
  background-position: center;
  background-size: cover;
}

.movie-year {
  display: block;
  margin-bottom: 7px;
  padding-bottom: 5px;

  border-bottom: 0.5px solid rgba(207, 207, 207, 0.87);
}

.movie-rate {
  position: relative;
}

.movie-rate::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -25px;

  width: 20px;
  height: 20px;

  background-image: url("image/icon/star-rate.png");
  background-size: cover;
}

.love-movie-button {
  position: absolute;
  right: 10px;
  bottom: 10px;

  width: 40px;
  height: 40px;

  background-image: url("image/icon/heart.png");
  background-position: center;
  background-size: cover;
  opacity: 0.3;

  transition: transform 0.15s linear;
}

.love-movie-button:hover {
  transform: scale(1.2);
}

.love-movie-button:active {
  transform: scale(1);
}

.will-watch {
  position: absolute;
  top: 55px;
  left: 0;

  width: 100%;
  height: 35px;

  font-weight: bold;
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #272727;
  opacity: 0.3;

  transition: opacity 0.2s, background 0.2s linear;
}

.will-watch::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 55px;

  width: 27px;
  height: 27px;

  background-image: url("image/icon/time.png");
  background-position: center;
  background-size: cover;
}

.will-watch:hover {
  opacity: 0.9;
}

.will-watch:active {
  background-color: #000000;
}






.footer {
  position: relative;
  bottom: 0;

  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
}

.footer a {
  display: block;
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 2em;
  font-family: "Indie Flower", cursive;
  color: #000000;
  text-decoration: none;

  cursor: pointer;
  transition: transform 0.2s linear;
}
.github-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 7px;

  background-image: url("image/icon/github.png");
  background-size: cover;
}

.rss-icon {
  display: inline-block;
  width: 90px;
  height: 45px;
  margin-right: 7px;
  margin-bottom: 2px;

  background-image: url("image/icon/rss.svg");
  background-size: cover;
}

.footer a:hover {
  transform: scale(1.15);
}

/* keyboard style */
.wrapper {
  position: absolute;
  top: 16%;
  right: 100px;
  z-index: 999;

  display: none;
  width: 900px;

  background-color: rgb(255, 136, 0);
  border-radius: 10px;
}

.clearFix::after {
  content: " ";

  display: table;
  clear: both;
}

.float-none {
  content: ".";

  clear: both;
}

.activeKeys {
  display: block;
}

.disableKeys {
  display: none;
}

.on {
  display: block;
}

.off {
  display: none;
}

/* STYLE */
.key {
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding-top: 11px;

  text-align: center;
  color: black;

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;

  transition: background 0.2s, border-radius 0.3s linear;

  user-select: none;
}


.space {
  width: 500px;
  margin-left: 50px;

  background-color: rgb(223, 223, 223);
}

.capsLock {
  width: 90px;

  background-color: rgb(223, 223, 223);
}

.language {
  width: 150px;

  background-color: rgb(179, 179, 179);
}

.shiftLeft,
.shiftRight {
  width: 130px;

  background-color: rgb(223, 223, 223);
}

.enter {
  width: 110px;

  background-color: rgb(223, 223, 223);
}

.backspace {
  width: 100px;

  background-color: rgb(223, 223, 223);
}

.keyQ {
  margin-left: 60px;
}

.key:hover {
  background-color: rgb(201, 201, 201);
}

.active {
  animation: activeKeys 0.2s 2 alternate linear;
}

.activeKeyBoard {
  background-color: rgb(164, 164, 255);
  border-radius: 40%;
}

@keyframes activeKeys {
  0% {
    border-radius: 5%;
  }

  100% {
    background-color: rgb(164, 164, 255);
    border-radius: 40%;
  }
}

/*loading animation*/
.animation-container {
  position: fixed;
  z-index: 999;

  display: none;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.747);
}

.cssload-container {
  width: 165px;
  margin: 18% auto 0;
}

.cssload-circle-1 {
  width: 165px;
  height: 165px;

  background: rgb(97,46,141);
}

.cssload-circle-2 {
  width: 138px;
  height: 138px;

  background: rgb(194,34,134);
}

.cssload-circle-3 {
  width: 110px;
  height: 110px;

  background: rgb(234,34,94);
}

.cssload-circle-4 {
  width: 83px;
  height: 83px;

  background: rgb(237,91,53);
}

.cssload-circle-5 {
  width: 55px;
  height: 55px;

  background: rgb(245,181,46);
}

.cssload-circle-6 {
  width: 28px;
  height: 28px;

  background: rgb(129,197,64);
}

.cssload-circle-7 {
  width: 14px;
  height: 14px;

  background: rgb(0,163,150);
}

.cssload-circle-8 {
  width: 7px;
  height: 7px;

  background: rgb(22,116,188);
}

.cssload-circle-1,
.cssload-circle-2,
.cssload-circle-3,
.cssload-circle-4,
.cssload-circle-5,
.cssload-circle-6,
.cssload-circle-7,
.cssload-circle-8 {
  border-bottom: none;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

  animation-name: cssload-spin;
  animation-duration: 1800ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cssload-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
